<div class="row">
  <div class="col s12">
     <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/800/500">
              <span class="card-title">My first Card</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
              <div class="row">
                <div class="chip" ng-repeat="item in vm.options">
                  {{item}}
                  <i class="material-icons">close</i>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a href="" class="waves-effect btn-flat">This is a link</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>