<!--
  @author ctola
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular materializecss</title>
    <!-- Fonts Icon material-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css"> -->
    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body ng-app="app">
<header>
    <nav>
      <ul id="nav-mobile" class="side-nav fixed">
        <li><a>Welcome materializecss</a></li>
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="user">User</a></li>
        <li><a ui-sref="option">Options</a></li>
      </ul>
      <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="240" data-closeonclick="false">
        <i class="mdi-navigation-menu material-icons">menu</i>
      </a>
    </nav>
</header>
<main>
    <div ui-view></div>
</main>
<footer>
    <div class="row"></div>
</footer>
    <!-- Javascript -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="js/app.module.js"></script>
    <script src="js/config/app.config.js"></script>
    <script src="js/factories/services.factory.js"></script>
    <script src="js/filters/to.filter.js"></script>
    <script src="js/controllers/home.controller.js"></script>
    <script src="js/controllers/user.controller.js"></script>
    <script src="js/controllers/option.controller.js"></script>
    <!-- Javascript UI-->
    <script>
        //$(".button-collapse").sideNav();
    </script>
</body>
</html>