<!--
  @author ctola
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demoBM</title>
    <!-- Fonts Icon material-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css"> -->
    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body ng-app="app">
    <div ui-view></div>
    <!-- Javascript -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="js/app.module.js"></script>
    <script src="js/config/app.config.js"></script>
    <script src="js/filters/to.filter.js"></script>
    <script src="js/controllers/home.controller.js"></script>
    <!-- Javascript UI-->

</body>
</html>